## NETWORK ----------------------------
# bindport = 64738;
# bindport6 = 64738;
{% if LISTEN4 %}bindaddr = "{{ LISTEN4 }}";{% else %}# bindaddr = "INADDR_ANY"; {% endif %}
{% if LISTEN6 %}bindaddr6 = "{{ LISTEN6 }}";{% else %}# bindaddr6 = "INADDR_ANY"; {% endif %}

## PASSWORD ---------------------------
password = "{{ u_password }}";
admin_password = "{{ u_adminpassword }}";   # Set to enable admin functionality.

## SSL --------------------------------
certificate = "{{ CER_DIR }}/{{ CER_NAME }}";
private_key = "{{ CER_DIR }}/{{ KEY_NAME }}";
# ca_path = "{{ CER_DIR }}/";  # Location of CA certificate. Relevant for OpenSSL only.

## LOG --------------------------------
# Log to file option. Default is logging to syslog.
# umurmurd will close and reopen the logfile if SIGHUP is received.
{% if LOGGING %}logfile = "{{ LOGS_VOL }}/umurmurd.log";{% else %}# logfile = "{{ LOGS_VOL }}/umurmurd.log";{% endif %}

## USERS ------------------------------
username = "{{ APP_USER }}";
groupname = "{{ APP_GROUP }}";
max_users = {{ MAX_USERS }};
show_addresses = {{ SHOW_IPS }};  # Whether to show client's IP addresses under user information

## BAN --------------------------------
ban_length = {{ BAN_SECONDS }};   # Length in seconds for a ban. Default is 0. 0 = forever.
enable_ban = {{ ENABLE_BAN }};    # Default is false
banfile = "{{ BAN_FILE }}";       # File to save bans to. Default is to not save bans to file.
sync_banfile = {{ SYNC_BAN }};    # Keep banfile synced. Default is false, which means it is saved to at shutdown only.

## AUDIO ------------------------------
max_bandwidth = {{ MAX_BANDWIDTH }};
opus_threshold = {{ OPUS_THRESHOLD }};     # Required percentage of users that support Opus codec for it to be chosen

## TEXT -------------------------------
welcometext = "{{ MOTD }}";
allow_textmessage = {{ ALLOW_TEXT }};

## CHANNELS ---------------------------
{% if CHANNELS_CONFIG %}{% include CHANNELS_CONFIG %}{% endif %}
